/* rule for the pages */
@page {
  margin: 1cm !important;
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

/* styles for the printed page */
@media print {
  
  html {
    padding: 0;
    background-color: white;
  }
  
  body {
    padding: 0;
    letter-spacing: normal;
    font-size: 12pt;
    background-color: white;
  }
  
  button {
    display: none;
  }

  input[type="checkbox"] {
    border: 1px solid black;
  }

  /* hidding the arrows in the select elements */
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 15pt;
  }

  select::-ms-expand {
        display: none;
      }

  /* hidding arrows from number field */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .print {
    display: none;
  }

   .section-one-two {
    margin-bottom: 2em;
    padding: 0;
  }
  
  .section-one-two table {
    width: 95%;
    margin: 0 auto;
  }

 .section-one-two input[type="number"] {
   text-align: left;
   width: 30px;
 }

  #notes textarea {
    width: 90%;
    font-size: 9pt;
  }

  .section-three {
    width: 100%;
    padding: 0;
  }

  #canvas {
    border: none;
  }

  .section-four {
    flex-wrap: wrap;
    gap: 4pt;
    width: 100%;
  }

  #orthopedic-test {
    width: 100%;
  }

  #orthopedic-test input[type="text"] {
    width: 60%;
  }

  .section-four-table-container {
    flex-flow: row-reverse;
    width: 100%;
  }

  #ctl {
    width: 70%;
  }

  #myos-tend-trigg {
    width: 30%
  }
}