@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Global rules*/
* {
  /* border: solid black 1px; */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

input[type='number'] {
  text-align: center;
  width: 40px;
}

input[type='text'],
input[type='number'] {
  border: none;
  border-bottom: solid black 2px;
  padding-left: 3px;
  font-size: 16px;
}

select {
  border: none;
  border-bottom: solid black 2px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type='number']:focus,
select:focus {
  background-color: lightblue;
}

/*rules for elements*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  height: 50px;
  font-size: 18px;
}

.section-one th,
.section-two th,
.section-three th,
.section-four th {
  font-size: 1.5em;
  height: 50px;
}

.section-one table * {
  border: solid black 1px;
}

.section-four {
  width: 70%
}

.section-five {
  float: right;
}

.section-six table * {
  border: solid black 1px;
}

#cervical-range,
#lumbar-range {
  width: 100%;
}

#cervical-range,
#lumbar-range,
#motor,
#sensory,
#reflexes-peripheral {
  margin-bottom: 1em;
}

#wnl,
#hypo,
#hyper {
  border-radius: 5px;
  cursor: pointer;
}

#reflexes-peripheral th {
  text-align: left;
}

