@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Global rules*/
* {
  /* border: solid black 1px; */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

html {
  background-color: #b6d5b6;
  padding: 2em;
}

body {
  background-color: #f7faf7;
  border-radius: 20px;
  padding: 3em;
  box-sizing: border-box;
}

input[type='number'] {
  text-align: center;
  width: 40px;
}

input[type='text'],
input[type='number'] {
  border: none;
  border-bottom: solid black 2px;
  padding-left: 3px;
  font-size: 16px;
}

select {
  border: none;
  border-bottom: solid black 2px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type='number']:focus,
select:focus {
  background-color: #b6b6d5;
}

/*rules for elements*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  height: 50px;
  font-size: 18px;
}

.section-one-two {
  margin-bottom: 1em;
}

.section-one-two table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  letter-spacing: 2px;
}

.section-one-two td:nth-child(3),
.section-one-two td:nth-child(5) {
  text-align: center;
}

.section-one-two input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  background-color: #b6b6d5;
  border: solid #e7f1e7 1px;
  border-radius: 10%;
  width: 25px;
  height: 25px;
  margin: 2px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.5em
}

input:checked:after {
  /* position: absolute; */
  /* top: 0; */
  content: '\1F5F8';
  color: black;
  font-size: 20px;
}

.section-one-two th,
.section-three th,
.section-four th {
  font-size: 1.5em;
  height: 50px;
  letter-spacing: 2px;
}

/* .section-one-two table * {
  border: solid black 1px;
} */

.section-four {
  width: 70%
}

.section-five {
  position: absolute;
  left: 70%;
  float: right;
}

.section-six table * {
  border: solid black 1px;
}

#motor,
#sensory,
#reflexes-peripheral {
  margin-bottom: 1em;
}

#wnl,
#hypo,
#hyper {
  border-radius: 5px;
  cursor: pointer;
}

#reflexes-peripheral th {
  text-align: left;
}

