@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Global element rules*/
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #b6d5b6;
  padding: 2em;
}

body {
  background-color: #f7faf7;
  border-radius: 20px;
  padding: 3em;
  /* box-sizing: border-box; */
}

input[type='number'] {
  text-align: center;
  width: 30px;
}

input[type='text'],
input[type='number'] {
  border: none;
  border-bottom: solid black 1px;
  border-radius: 5px 5px 0 0;
  padding-left: 3px;
  font-size: 16px;
  outline: none;
  font-style: italic;
}

select {
  border: none;
  border-bottom: solid black 1px;
  font-size: 16px;
  text-align: center;
}

input[type="text"]:focus,
input[type='number']:focus,
select:focus {
  background-color: #b6b6d5;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  background-color: #b6b6d5;
  border: solid #e7f1e7 1px;
  border-radius: 10%;
  width: 25px;
  height: 25px;
  margin: 2px;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.5em
}

input[type="checkbox"]:checked:after {
  content: '\1F5F8';
  color: black;
  font-size: 20px;
}

/*rules for classes and children of the classes*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  height: 50px;
  font-size: 18px;
}

.section-one-two {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  margin-bottom: 1em;
  padding: 0 2em 0 2em;
}

.section-one-two #cer-lum-tables {
  width: 70%;
}

#cer-lum-tables table {
  border-collapse: collapse;
  letter-spacing: 2px;
  margin: auto;
  width: 100%;
}

#notes label {
  display: inline-block;
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
}

#notes textarea {
  resize: none;
  width: 100%;
  height: 88%;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  font-style: italic;
  padding: 2px 2px;
  border: 1px solid #b6b6d5;
}

.section-one-two td:nth-child(3),
.section-one-two td:nth-child(5) {
  text-align: center;
}

.section-one-two th,
.section-three th,
.section-four th {
  font-size: 1.5em;
  height: 50px;
  letter-spacing: 2px;
}

.section-one-two #notes {
  width: 30%;
}

.section-three {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0 2em 0 2em;
  margin-bottom: 1em;
}

.section-three table {
  letter-spacing: 2px;
  text-align: left;
}

.section-three table td {
  padding-right: 10px;
}

#motor,
#sensory {
  margin-bottom: 1em;
  text-align: left;
}

#sensory td span:nth-child(2) {
  margin-left: 10px;
}

#wnl,
#hypo,
#hyper {
  border-radius: 5px;
  cursor: pointer;
}

/* sizing the canvas element */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 1px solid #b6b6d5;
  border-radius: 5px;
}

#draw, 
#undo, 
#dot {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 2.5em;
  height: 2em;
  cursor: pointer;
  z-index: 1;
  border-radius: 5px;
}

#draw img, 
#undo img,
#dot img {
  margin: auto;
  width: 60%;
  vertical-align: middle;
}

#dot {
  top: 30px;
}

#undo {
  top: 58px;
}

/* sizing image*/
#pain-chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* sizing flex elements */
.section-three-tables,
.canvas-container {
  position: relative;
  width: 50%;
}

/* section four */

.section-four {
  display: flex;
  width: 95%;
  margin: auto;
}

#orthopedic-test {
  width: 55%;
}

.section-four-table-container {
  display: flex;
  flex-flow: column;
  width: 45%;
}

#myos-tend-trigg,
#ctl {
  height: 50%
}

#myos-tend-trigg {
  margin: auto;
}

/* styles for the ctl table */
#ctl {
  table-layout: fixed;
  text-align: center;
  width: 100%
}

#ctl th span {
  margin: 0 1em 0 1em;
}

#ctl td {
  font-size: 13px;
  font-weight: bold; 
}

/* selection from the second td element on each tr */
#ctl tbody td:nth-child(n+2) {
  border-radius: 10px;
  cursor: pointer;
}

/* avoiding border and pointer in last row in the tbody on cells 1 and 4-9 */
#ctl tbody tr:nth-child(4) td:nth-child(n+4) {
  border: none;
  cursor: text;
}

#ctl input[type='text'] {
  width: -webkit-fill-available;
  text-align: center
}

#ctl input[id='ue'],
#ctl input[id='le'] {
  text-align: left;
}

/* print button */

.print {
  margin: 2em 0 0 0;
}

.print button {
  display: block;
  margin: 0 auto;
  width: 10%;
  padding: 1em;
  border: 1px solid #b6b6d5;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.print button:hover {
  background-color: #b6b6d5;
  color: white;
}

.print button:active {
  transform: translateY(2px);
}
